*.csv filter=lfs diff=lfs merge=lfs -text
*.sqlite filter=lfs diff=lfs merge=lfs -text
*.RDS filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.Rproj filter=lfs diff=lfs merge=lfs -text
*.Rprofile filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.R filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/ancillary/icd_codes/anxiety filter=lfs diff=lfs merge=lfs -text
/ancillary/icd_codes/bipolar filter=lfs diff=lfs merge=lfs -text
/ancillary/icd_codes/depression filter=lfs diff=lfs merge=lfs -text
/ancillary/icd_codes/regional_enteritis filter=lfs diff=lfs merge=lfs -text
/ancillary/icd_codes/schizophrenia filter=lfs diff=lfs merge=lfs -text
/ancillary/icd_codes/suicide filter=lfs diff=lfs merge=lfs -text
/data/anxiety/patients_anxiety filter=lfs diff=lfs merge=lfs -text
/data/bipolar/patients_bipolar filter=lfs diff=lfs merge=lfs -text
/data/depression/patients_depression filter=lfs diff=lfs merge=lfs -text
/data/regional_enteritis/patients_regional_enteritis filter=lfs diff=lfs merge=lfs -text
/data/schizophrenia/patients_schizophrenia filter=lfs diff=lfs merge=lfs -text
/data/suicide/patients_suicide filter=lfs diff=lfs merge=lfs -text
